@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('../assets/HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('../assets/HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('../assets/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}