.ZCContent {
  max-width: 60rem;
  margin: 0 auto;
}

.ZCContainer {
  padding-top: 2rem;
}

@media (min-width: 768px) and (max-width: 1030px) {
  .ZCContainer {
    padding: 2rem 2rem 0;
  }
}


@media (max-width: 768px) {
  .ZCContainer {
    padding: 1.5rem 1.25rem 0;
  }
}